* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 0.625em;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.qr-card {
  width: 30rem;
  height: 50rem;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.qr-img {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.qr-img img {
  width: 100%;
  object-fit: cover;
}

.qr-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.above-content {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.under-content {
  font-size: 15px;
  color: #5c5858;
  text-align: center;
}
